<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Titre du site</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<!-- Barre de navigation -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Image logo -->

    <!-- Liens -->
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Crypto-monnaies
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Recherche</a>
                <a class="dropdown-item" href="#">Classement</a>
                <a class="dropdown-item" href="#">Catégories</a>
                <a class="dropdown-item" href="#">Gagnants</a>
                <a class="dropdown-item" href="#">Perdants</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#"  data-toggle="dropdown">
                Utilisateurs
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Mon profil</a>
                <a class="dropdown-item" href="#">Mes crypto-monnaies</a>
                <a class="dropdown-item" href="#">Mes favoris</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Forum</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Actualités</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Convertisseur</a>
        </li>
    </ul>

</nav>


<!-- Présentation -->
<div class="jumbotron text-center">
    <h1>Titre</h1>
    <br>
    <h4>Le site de la crypto-monnaie,</h4>
    <h4>pour les mordus de monnaie numérique !</h4>
</div>


<!-- Résumés actions -->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h5>Tendances</h5>
        </div>
        <div class="col-sm-4">
            <h5>Top gagnants</h5>
        </div>
        <div class="col-sm-4">
            <h5>Top perdants</h5>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h5>Top 100 des crypto-monnaies</h5>
        </div>
        <div class="col-sm-4">
            <h5>Actualités</h5>
        </div>
    </div>
</div>


















</body>

<!-- Footer -->
<footer class="bg-white fixed-bottom">
    <!-- Copyrights -->
    <div class="bg-light py-4">
        <div class="container text-center">
            <p class="text-muted mb-0 py-2">Kevin COSQUER & Elisa LE DOURNER - © Tous droits réservés.</p>
        </div>
    </div>
</footer>

</html>